@import "style-dark-red.css";

window#waybar { background-color: rgba(40, 40, 40, 0.9); color: #ebdbb2; }
#workspaces button.focused { background-color: #98971a; color: #282828; }
#workspaces button.urgent { background-color: #cc241d; }
#battery.charging, #network, #pulseaudio { color: #d79921; }
#battery.critical:not(.charging) { background-color: #cc241d; color: #ebdbb2; }
#power-profiles-daemon.performance { background-color: #98971a; color: #282828; }
